* {
    font-family: 'Open Sans', sans-serif, '新細明體' cursive;
}
body {
    margin-top: 70px;
    background: url(res/bgs.jpg) no-repeat center center fixed;
    background-size: cover;
}
h1 {
    text-align: center;
    text-shadow: 2px 2px black;
}
#init {
    width:28%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 2px 2px black;
}
#loginC {
    font-size: 24px;
    color: #dddddd;
    text-align: left;
    padding: 20px;
    background: rgba(18, 182, 128, 0.4);
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
}
#errmsg {
    font-size:28px;
    color: red;
    text-align: left;
    padding: 18px;
    background: rgba(38, 200, 192, 0.3);
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
}
#regC {
    font-size: 24px;
    color: #dddddd;
    text-align: left;
    padding: 20px;
    background: rgba(128, 82, 28, 0.6);
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
}
#updateC {
    font-size: 24px;
    color: #dddddd;
    text-align: left;
    padding: 20px;
    background: rgba(18, 182, 128, 0.4);
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
}
#updateC input[type="text"],
#updateC input[type="password"] {
    font-size: 18px;
    height: 30px;
    width: 200px;
}
#postC {
    margin-left: 5%;
    margin-right: 5%;
}
.buttons {
    margin-top: 2%;
    width: 100%;
    text-align: center;
}
.hp {
    width: 40px;
    height: 40px;
}
.hpb {
    width: 140px;
    height: 140px;
}
#ph h1 {
    margin-left: 5%;
    color: white;
    text-align:left;
}
#ph h1 small {
    color: white;
}
.postph {
    width: 60%;
    height: auto;
}
.form-group label {
    font-size: 24px;
}
.postTextArea {
    font-size: 16px;
    overflow:hidden;
    border-color:#ddccff;
    color: black;
}
#masterP,
#slaveP {
    font-size: 24px;
}
#postIndent {
    padding: 1%;
}
input {
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    padding:2px;
    margin: 2px;
    text-shadow: 0px 0px black;
}
input:not([type]), input[type="text"] {
    font-size: 18px;
    height: 30px;
    width: 250px;
    color: black;
}
input:not([type]), input[type="password"] {
    font-size: 18px;
    height: 30px;
    width: 250px;
    color: black;
}
#fileC {
    font-size: 16px;

}
