* {
    font-family: 'Open Sans', sans-serif, '新細明體' cursive;
}
body {
    margin-top: 70px;
    background: url(res/bg.jpg) no-repeat;
    background-size: cover;
}
h1 {
    text-align: center;
    text-shadow: 2px 2px black;
}
#init {
    width:28%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 2px 2px black;
}
#loginC {
    font-size: 24px;
    color: #dddddd;
    text-align: left;
    padding: 20px;
    background: rgba(18, 182, 128, 0.4);
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
}
#errmsg {
    font-size:28px;
    color: red;
    text-align: left;
    padding: 18px;
    background: rgba(38, 200, 192, 0.3);
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
}
#regC {
    font-size: 24px;
    color: #dddddd;
    text-align: left;
    padding: 20px;
    background: rgba(128, 82, 28, 0.6);
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
}
#updateC {
    font-size: 24px;
    color: #dddddd;
    text-align: left;
    padding: 20px;
    background: rgba(18, 182, 128, 0.4);
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
}
#updateC input[type="text"],
#updateC input[type="password"] {
    font-size: 18px;
    height: 30px;
    width: 200px;
}
.buttons {
    margin-top: 2%;
    width: 100%;
    text-align: center;
}
#ph h1 {
    margin-left: 2%;
    color: white;
    text-align:left;
}
#ph h1 small {
    color: white;
}
input {
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    padding:2px;
    margin: 2px;
    text-shadow: 0px 0px black;
}
input:not([type]), input[type="text"] {
    font-size: 18px;
    height: 30px;
    width: 250px;
    color: black;
}
input:not([type]), input[type="password"] {
    font-size: 18px;
    height: 30px;
    width: 250px;
    color: black;
}
#midPage {
    position: absolute;
    left: 50;
    margin:0 auto;
    padding: 20px;
    border: 0px;
    width: 800px;
    border-radius: 25px;
    background:rgba(80%, 50%, 40%, 0.2);
}
#rightPage {
    position: absolute;
    left: 890;
    margin:0 auto;
    padding: 10px;
    border: 0px;
    width: 250px;
}
#friend_top {
    border: 1px;
    border-style: dashed;
    padding: 10px;
    border-radius: 20px;
    background:rgba(80%, 50%, 0%, 0.5);
}
.friend {
    width:80%;
    background:rgba(80%, 50%, 50%, 0.7);
    margin: 5px;
    border-radius: 10px;
    box-shadow: 3px 3px 2px rgb(50%, 20%, 20%);
}
.msgTable {
    padding: 5px;
    width: 60%;
    border-style: groove;
}
#add, #delete {
    background:rgba(80%, 50%, 50%, 0.7);
    border-radius: 10px;
}
#add:hover, #delete:hover {
    background:rgb(80%, 60%, 60%);
    font-size: 20;
    cursor: pointer;
}
hr.style-two {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0.85), rgba(0, 0, 0, .2));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0.85), rgba(0, 0, 0, .2));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0.85), rgba(0, 0, 0, .2));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0.85), rgba(0, 0, 0, .2));
}
hr.style-one {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
hr.style-three {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
